
<form class="row g-3">
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Reference</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Designation</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-4">
    <label for="inputAddress" class="form-label">Category</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">fournisseur</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Number of results</label>
    <select id="inputState" class="form-select">
      <option selected></option>
      <option>50</option>
      <option>100</option>
      <option>500</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputDisponibility" class="form-label">disponible</label>
    <select id="inputDisponibility" class="form-select">
      <option selected></option>
      <option value="1">Yes</option>
      <option value="2">No</option>
      <option value="3">All</option>
    </select>
  </div>
  
  <div class="col-42">
    <button type="submit" class="btn btn-primary">Recherche</button>
    <button type="button" class="btn btn-danger">reset</button>
  </div>
</form>
<div class="container">
  <div class="row">
    <div class="col-md">
      REFERENCE
    </div>
    <div class="col-md">
      designation
    </div>
    <div class="col-md">
      stock
    </div>
    <div class="col-md">
      price
    </div>
  </div>
</div>
