<div class="supplier-form">
  <h2>Recherche de Fournisseurs</h2>
  <form (ngSubmit)="searchSuppliers()">
    <div class="form-group">
      <label for="name">Nom:</label>
      <input id="name" [(ngModel)]="supplier.name" name="name" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="contact">Contact:</label>
      <input id="contact" [(ngModel)]="supplier.contact" name="contact" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="supplier.email" name="email" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="phone">Téléphone:</label>
      <input id="phone" [(ngModel)]="supplier.phone" name="phone" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="productName">Nom du Produit:</label>
      <input id="productName" [(ngModel)]="productName" name="productName" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Rechercher</button>
  </form>

  <div *ngIf="suppliersDisplayData.length > 0" class="supplier-list">
    <h3>Résultats de la Recherche:</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Produits</th>
          <th>Commandes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliersDisplayData">
          <td>{{ supplier.name }}</td>
          <td>{{ supplier.contact }}</td>
          <td>{{ supplier.email }}</td>
          <td>{{ supplier.phone }}</td>
          <td>{{ supplier.productNames }}</td>
          <td>{{ supplier.purchaseOrderIds }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="suppliersDisplayData.length === 0">
    <p>Aucun fournisseur trouvé.</p>
  </div>
</div>
